#project-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    /* margin: 0 auto; */
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(50, 50, 50, .3);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.classSection {
    position: relative;
    width: 800px;
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0 auto;
    gap: 30px;
    border-radius: 25px 25px 25px 25px;
    /* background-color: lightblue; */
}

.classLabel {
    position: relative;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: #fff;
}

.projectDescription {
    font-weight: bold;
    color: #fff;
}

.projectLabel {
    color: #fff;
}

.projectSection {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    /* background-color: aliceblue; */
    margin: 0 auto;
    gap: 20px;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
}

.projectImage {
    position: relative;
    width: 100%;
}

.projectImageContainer {
    position: relative;
    width: 500px;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
}