<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Kyle Bye's Project Portfolio</title>
    <link rel="stylesheet" href="assets/css/Main.css">
    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />

    <script src="assets/js/Main.js"></script>
</head>

<body>
    <div id="headerSection">

        <video class="bckgnd-video" autoplay loop muted plays-inline>
            <source src="assets/mp3-4/dvwp.mp4" type="video/mp4">
        </video>

        <nav>
            <img id="logo" src="https://cdn.discordapp.com/attachments/381658941987356683/1053107684045504593/unknown.png">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/Projects">Projects</a></li>
            </ul>
        </nav>

    </div>

    <div class="content">
        {{{body}}}
    </div>

    {{!-- <div id="footerSection">
        <p>@kylebye4mav</p>
    </div> --}}
</body>

</html>