<link rel="stylesheet" href="assets/css/Home.css">
<link rel="stylesheet" href="assets/css/Main.css">

<div id="home-content">
    <h1 id="nameLabel">Kyle V. Bye</h1>

    <div id="introductionSection">
        <p class="introText">Hello There!</p>
        <div id="selfImageContainer">
            <img id="selfImage" src="assets/img/greez2.jpg">
        </div>
        <p class="introText">Hello! Welcome to my portfolio.</p>
        <p class="introText">Feel free to checkout all of the projects I was involved in.</p>
    </div>
</div>