<link rel="stylesheet" href="assets/css/Projects.css">
<link rel="stylesheet" href="assets/css/Main.css">

<div id="project-content">

        <div class="classSection">

            <h1 class="classLabel">Software Engineering Projects</h1>

            <div class="projectSection">
                <h2 class="projectLabel">BudgetBuddy</h2>
                <div class="projectImageContainer">
                    <img class="projectImage" src="https://cdn.discordapp.com/attachments/391707229037789184/1053533863323902053/image.png"/>
                </div>
                <p class="projectDescription">A HTML Application</p>
            </div>

        </div>

        <div class="classSection">

            <h1 class="classLabel">Software Capstone Project</h1>

            <div class="projectSection">
                <h2 class="projectLabel">Fairmont Community Project</h2>
                <div class="projectImageContainer">
                    <img class="projectImage" src="https://cdn.discordapp.com/attachments/391707229037789184/1053551069688512522/image.png"/>
                </div>
                <p class="projectDescription">A HTML Application</p>
            </div>

        </div>

        <div class="classSection">

            <h1 class="classLabel">Video Game Programming 1 Projects</h1>

            <div class="projectSection">
                <h2 class="projectLabel">AsgoreBattle</h2>
                <div class="projectImageContainer">
                        <img class="projectImage" src="https://cdn.discordapp.com/attachments/391707229037789184/1053530160357441576/unknown.png"/>
                </div>
                <p class="projectDescription">A HTML Application</p>
            </div>

        </div>

        <div class="classSection">

            <h1 class="classLabel">Object Oriented Programming Projects</h1>

            <div class="projectSection">
                <h2 class="projectLabel">BudgetTracker</h2>
                <div class="projectImageContainer">
                    <img class="projectImage" src="https://cdn.discordapp.com/attachments/391707229037789184/1053533025763340328/image.png"/>
                </div>
                <p class="projectDescription">A HTML Application</p>
            </div>

        </div>

    </div>